<a href="https://colab.research.google.com/github/dobrotvorn/DataCon23/blob/main/Mini_task1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![nano.jpg]()

##  


     .
        ,  , - ,         .

:

1. Material type, nanoparticle -  .
2. Elements -      ( -     ).
3. Electronegativity -   .
4. Ionic radius -    (   ;    -  ).
5. Core size -   (  ,        ).
6. Hydro size, diameter -    -    .
7. Surface charge, zeta potential - -   .
8. Surface area -    (  ).
9. Cell type, cells -    .
10. Exposure dose, concentration, dose -       .
11. Number of atoms -  .
12. Molecular weight -  .
13. Topological polar surface area - ,   .
14. a, b, c, alpha, beta, gamma -   .
15. Density -  .
16. Viability -  .
17. Type -  (/).
18. Coat -  .
19. Cell line / primary cells -   (      ).
20. Human / animal - /.
21. Animal - .
22. Cell morphology -   .
23. Cell age -   .
24. Cell organ / tissue - .
25. Exposure time, time -     .
26. Test -      .
27. Test indicator -  .
28. Biochemical metrics -    .
29. Interference test -       .
30. Colloidal stability -   .
31. Positive control -      (,    ).

##

###

In [40]:
# !pip install gdown
!pip install fancyimpute
import pandas as pd
import numpy as np
import gdown
import matplotlib.pyplot as plt
import seaborn as sns
import sys
from sklearn.experimental import enable_iterative_imputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import IterativeImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.impute import KNNImputer
from IPython.display import display, HTML
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.discriminant_analysis import StandardScaler
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder
from fancyimpute import KNN

Requirement already satisfied: fancyimpute in /usr/local/lib/python3.10/dist-packages (0.7.0)
Requirement already satisfied: knnimpute>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: scikit-learn>=0.24.2 in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.2.2)
Requirement already satisfied: cvxpy in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.1)
Requirement already satisfied: cvxopt in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.1)
Requirement already satisfied: pytest in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (7.2.2)
Requirement already satisfied: nose in /usr/local/lib/python3.10/dist-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in /usr/local/lib/python3.10/dist-packages (from knnimpute>=0.1.0->fancyimpute) (1.22.4)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=0.24.2->fancyimpute) (3.1.0)
Requirement already satisfied: osqp>=0.4.1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (0.6.2.post8)
Requirement already satisfied: ecos>=2 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (2.0.12)
Requirement already satisfied: scs>=1.1.6 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (3.2.3)
Requirement already satisfied: setuptools>65.5.1 in /usr/local/lib/python3.10/dist-packages (from cvxpy->fancyimpute) (67.7.2)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (23.1.0)
Requirement already satisfied: iniconfig in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (23.1)
Requirement already satisfied: pluggy<2.0,>=0.12 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (1.1.1)
Requirement already satisfied: tomli>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from pytest->fancyimpute) (2.0.1)
Requirement already satisfied: qdldl in /usr/local/lib/python3.10/dist-packages (from osqp>=0.4.1->cvxpy->fancyimpute) (0.1.7)

In [201]:

#    
global ordinal_encoder
global text_columns
global path2firstDb
global path2secondDb
path2firstDb = '/content/firstDb.csv' if 'google.colab' in sys.modules else 'firstDb.csv'
path2secondDb = '/content/secondDb.csv' if 'google.colab' in sys.modules else 'secondDb.csv'

###

In [202]:
url1 = 'https://drive.google.com/uc?id=1-3ErIGqYlM-4gC39Mzv1-wlFVGhN80UH'
url2 = 'https://drive.google.com/uc?id=1-EsWBtWMMc-zO1gxxj7JcJV7en5uwheU'
output1 = 'firstDb.csv'
output2 = 'secondDb.csv'
gdown.download(url1, output1, quiet=False)
gdown.download(url2, output2, quiet=False)

Downloading...
From: https://drive.google.com/uc?id=1-3ErIGqYlM-4gC39Mzv1-wlFVGhN80UH
To: /content/firstDb.csv
100%|| 61.5k/61.5k [00:00<00:00, 26.6MB/s]
Downloading...
From: https://drive.google.com/uc?id=1-EsWBtWMMc-zO1gxxj7JcJV7en5uwheU
To: /content/secondDb.csv
100%|| 104k/104k [00:00<00:00, 10.1MB/s]

'secondDb.csv'

##

In [203]:
fdb = pd.read_csv(path2firstDb)
# (fdb['Nanoparticle'] == 'CuO') and ('Diameter (nm)' == )
print(fdb.columns)
fdb.head()

Index(['Unnamed: 0', 'Nanoparticle', 'Type: Organic (O)/inorganic (I)', 'coat',
       'Diameter (nm)', 'Concentration M', 'Zeta potential (mV)', 'Cells',
       'Cell line (L)/primary cells (P)', 'Human(H)/Animal(A) cells',
       'Cell age: embryonic (E), Adult (A)', 'Exposure time (h)',
       '% Cell viability'],
      dtype='object')

,Unnamed: 0,Nanoparticle,Type: Organic (O)/inorganic (I),coat,Diameter (nm),Concentration M,Zeta potential (mV),Cells,Cell line (L)/primary cells (P),Human(H)/Animal(A) cells,"Cell age: embryonic (E), Adult (A)",Exposure time (h),% Cell viability
0,9,CuO,I,NaN,52.51,0.000035,-39.67,A549,L,H,A,24,74.587160
1,10,CuO,I,NaN,52.51,0.000087,-39.67,A549,L,H,A,24,66.055046
2,11,CuO,I,NaN,52.51,0.000174,-39.67,A549,L,H,A,24,48.165140
3,12,CuO,I,NaN,52.51,0.000035,-39.67,A549,L,H,A,24,84.713870
4,13,CuO,I,NaN,52.51,0.000087,-39.67,A549,L,H,A,24,68.672810

In [204]:
sdb = pd.read_csv(path2secondDb)
print(sdb.columns)
# print(sdb['Surface_Charge'].DOI.unique())

sdb.groupby('Surface_Charge')['No'].count()
sdb.head(8)

Index(['Unnamed: 0', 'No', 'Year', 'Material', 'Type', 'Coat',
       'Surface_Charge', 'Diameter (nm)', 'Cell_Type', 'Human_Animal',
       'Cell_Age', 'Cell Line_Primary Cell', 'Time (hr)',
       'Concentration (ug/ml)', 'Cell_Viability (%)', 'DOI'],
      dtype='object')

,Unnamed: 0,No,Year,Material,Type,Coat,Surface_Charge,Diameter (nm),Cell_Type,Human_Animal,Cell_Age,Cell Line_Primary Cell,Time (hr),Concentration (ug/ml),Cell_Viability (%),DOI
0,92,93,2014,IronOxide,I,Dextran,unknown,18.0,VERO,A,Adult,L,24,100.0,102.00,10.1002/jbm.b.33068
1,93,94,2014,IronOxide,I,Dextran,unknown,18.0,VERO,A,Adult,L,24,200.0,105.08,10.1002/jbm.b.33068
2,94,95,2014,IronOxide,I,Dextran,unknown,18.0,VERO,A,Adult,L,24,300.0,100.00,10.1002/jbm.b.33068
3,95,96,2014,IronOxide,I,Dextran,unknown,18.0,VERO,A,Adult,L,24,400.0,100.00,10.1002/jbm.b.33068
4,96,97,2014,IronOxide,I,Dextran,unknown,18.0,VERO,A,Adult,L,24,500.0,80.00,10.1002/jbm.b.33068
5,97,98,2014,IronOxide,I,Dextran,unknown,18.0,MDCK,A,Adult,L,24,100.0,101.97,10.1002/jbm.b.33068
6,98,99,2014,IronOxide,I,Dextran,unknown,18.0,MDCK,A,Adult,L,24,200.0,115.09,10.1002/jbm.b.33068
7,99,100,2014,IronOxide,I,Dextran,unknown,18.0,MDCK,A,Adult,L,24,300.0,115.09,10.1002/jbm.b.33068

In [205]:
sdb[sdb.DOI=='10.1007/s11051-018-4406-0']

,Unnamed: 0,No,Year,Material,Type,Coat,Surface_Charge,Diameter (nm),Cell_Type,Human_Animal,Cell_Age,Cell Line_Primary Cell,Time (hr),Concentration (ug/ml),Cell_Viability (%),DOI
668,2231,2232,2018,Au,I,Citrate,Negative,14.5,PBMC,H,Adult,P,24,15.0,71.030,10.1007/s11051-018-4406-0
669,2232,2233,2018,Au,I,CyA,Positive,6.5,PBMC,H,Adult,P,24,15.0,75.567,10.1007/s11051-018-4406-0
670,2233,2234,2018,Au,I,GSH,Negative,3.8,PBMC,H,Adult,P,24,15.0,72.251,10.1007/s11051-018-4406-0
671,2234,2235,2018,Au,I,Citrate,Negative,7.0,PBMC,H,Adult,P,24,15.0,83.072,10.1007/s11051-018-4406-0
672,2235,2236,2018,Au,I,Citrate,Negative,14.5,PBMC,H,Adult,P,24,1.5,87.053,10.1007/s11051-018-4406-0
673,2236,2237,2018,Au,I,CyA,Positive,6.5,PBMC,H,Adult,P,24,1.5,99.319,10.1007/s11051-018-4406-0
674,2237,2238,2018,Au,I,GSH,Negative,3.8,PBMC,H,Adult,P,24,1.5,102.210,10.1007/s11051-018-4406-0
675,2238,2239,2018,Au,I,Citrate,Negative,7.0,PBMC,H,Adult,P,24,1.5,85.349,10.1007/s11051-018-4406-0
676,2239,2240,2018,Au,I,Citrate,Negative,14.5,Jurkat,H,Adult,L,24,15.0,93.309,10.1007/s11051-018-4406-0
677,2240,2241,2018,Au,I,CyA,Positive,6.5,Jurkat,H,Adult,L,24,15.0,83.457,10.1007/s11051-018-4406-0
678,2241,2242,2018,Au,I,GSH,Negative,3.8,Jurkat,H,Adult,L,24,15.0,47.026,10.1007/s11051-018-4406-0
679,2242,2243,2018,Au,I,Citrate,Negative,7.0,Jurkat,H,Adult,L,24,15.0,56.506,10.1007/s11051-018-4406-0
680,2243,2244,2018,Au,I,Citrate,Negative,14.5,Jurkat,H,Adult,L,24,1.5,99.130,10.1007/s11051-018-4406-0
681,2244,2245,2018,Au,I,CyA,Positive,6.5,Jurkat,H,Adult,L,24,1.5,94.261,10.1007/s11051-018-4406-0
682,2245,2246,2018,Au,I,GSH,Negative,3.8,Jurkat,H,Adult,L,24,1.5,89.391,10.1007/s11051-018-4406-0
683,2246,2247,2018,Au,I,Citrate,Negative,7.0,Jurkat,H,Adult,L,24,1.5,89.391,10.1007/s11051-018-4406-0

In [206]:
sdb[sdb.DOI=='10.1002/smll.201502346']

,Unnamed: 0,No,Year,Material,Type,Coat,Surface_Charge,Diameter (nm),Cell_Type,Human_Animal,Cell_Age,Cell Line_Primary Cell,Time (hr),Concentration (ug/ml),Cell_Viability (%),DOI
411,1486,1487,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,10.0,15.17400,10.1002/smll.201502346
412,1487,1488,2015,Au,I,MSA,Negative,4.2,WA09,H,Embryonic,L,24,10.0,98.17200,10.1002/smll.201502346
413,1488,1489,2015,Au,I,Citrate,Negative,13.6,WA09,H,Embryonic,L,24,10.0,103.47000,10.1002/smll.201502346
414,1489,1490,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,10.0,14.25900,10.1002/smll.201502346
415,1490,1491,2015,Au,I,MSA,Negative,4.2,WA09,H,Embryonic,L,24,10.0,90.49400,10.1002/smll.201502346
416,1491,1492,2015,Au,I,Citrate,Negative,13.6,WA09,H,Embryonic,L,24,10.0,79.08700,10.1002/smll.201502346
417,1492,1493,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,0.001,90.57300,10.1002/smll.201502346
418,1493,1494,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,0.01,87.61600,10.1002/smll.201502346
419,1494,1495,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,0.1,75.97000,10.1002/smll.201502346
420,1495,1496,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,1.0,56.56200,10.1002/smll.201502346
421,1496,1497,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,10.0,0.92421,10.1002/smll.201502346
422,1497,1498,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,0.001,80.59100,10.1002/smll.201502346
423,1498,1499,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,0.01,66.17400,10.1002/smll.201502346
424,1499,1500,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,0.1,62.47700,10.1002/smll.201502346
425,1500,1501,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,1.0,38.07800,10.1002/smll.201502346
426,1501,1502,2015,Au,I,MSA,Negative,1.5,WA09,H,Embryonic,L,24,10.0,-1.10910,10.1002/smll.201502346

In [207]:
fdb['coat'] = fdb['coat'].fillna('NotModified')
sdb['Coat'] = sdb['Coat'].fillna('NotModified')
none_mapper = {'unknown': None, '-': None, 'None': None}
sdb.replace(none_mapper, inplace=True)
fdb.replace(none_mapper, inplace=True)

   1   ,           .        (, , DOI)

In [208]:
fdb = fdb.rename(columns=
                 {'Nanoparticle': 'Material',
                'Zeta potential (mV)': 'Surface_Charge',
                'Cells': 'Cell_Type',
                'Cell line (L)/primary cells (P)': 'Cell Line_Primary Cell',
                'Human(H)/Animal(A) cells': 'Human_Animal',
                'Exposure time (h)': 'Time (hr)',
                'Type: Organic (O)/inorganic (I)': 'Type',
                'coat': 'Coat',
                '% Cell viability': 'Cell_Viability (%)'}
)
hardcode_mol_mass = {'CuO' : 79.53, 'Iron oxide': 215.49,'IronOxide':215.49,'IronOide':215.49 ,'Au':196.96, 'Cu2O':143.07}
hardcode_age = {'E' : 'Embryonic', 'A' : 'Adult', 'F': 'Fetus'}

fdb['Concentration (ug/ml)']= fdb[['Concentration M', 'Material' ]].apply(lambda x:  hardcode_mol_mass[x['Material']] * float(x['Concentration M']/ 1000 if x['Material'] and x['Concentration M']  else None), axis=1)
fdb['Cell_Age'] = fdb['Cell age: embryonic (E), Adult (A)'].apply(lambda x: hardcode_age[x] if x else None)
#   float ,     float - '-'
fdb['Concentration (ug/ml)'] = fdb['Concentration (ug/ml)'].astype(float)
sdb['Concentration (ug/ml)'] = sdb['Concentration (ug/ml)'].astype(float)

fdb['Diameter (nm)'] = fdb['Diameter (nm)'].astype(float)
sdb['Diameter (nm)'] = sdb['Diameter (nm)'].astype(float)

fdb['Coat'] = fdb['Coat'].fillna('NotModified')
sdb['Coat'] = sdb['Coat'].fillna('NotModified')

fdb['Surface_Charge'] = fdb['Surface_Charge'].apply(lambda x: 'Positive' if float(x) > 0 else 'Negative' if float(x) < 0 else 'Neutral' if float(x) == 0 else None)

# Exposure dose, concentration, dose
# Cell_Age
# doi, no, year
fdb_new = fdb.drop(columns=['Concentration M', 'Cell age: embryonic (E), Adult (A)'])
sdb_new = sdb.drop(columns=['No','Year', 'DOI'], axis=1)
fdb_new.head(2)

,Unnamed: 0,Material,Type,Coat,Diameter (nm),Surface_Charge,Cell_Type,Cell Line_Primary Cell,Human_Animal,Time (hr),Cell_Viability (%),Concentration (ug/ml),Cell_Age
0,9,CuO,I,NotModified,52.51,Negative,A549,L,H,24,74.587160,0.000003,Adult
1,10,CuO,I,NotModified,52.51,Negative,A549,L,H,24,66.055046,0.000007,Adult

In [209]:
fdb_new[fdb_new['Cell_Viability (%)'] == 100.75949]
# fdb_new['Surface_Charge'].unique()

,Unnamed: 0,Material,Type,Coat,Diameter (nm),Surface_Charge,Cell_Type,Cell Line_Primary Cell,Human_Animal,Time (hr),Cell_Viability (%),Concentration (ug/ml),Cell_Age
760,1959,Au,I,NotModified,20.0,None,HEK293,L,H,48,100.75949,0.000197,Embryonic

In [210]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

In [211]:
# fdb = fdb.replace({'unknown': None, '-': None, 'None': None})
# sdb = sdb.replace({'unknown': None, '-': None, 'None': None})
# from sklearn.preprocessing import RobustScaler

# def replace_unknown(x):
#     none_mapper = {'unknown': None, '-': None, 'None': None}
#     return x.replace(none_mapper)

# def replace_charge(x):
#     return pd.DataFrame(np.where(x > 0, 'Positive', 'Negative'), index=x.index, columns=['pos_and_neg'])

# numerical_transformer = Pipeline(
#     steps=[
#         # ('imputer', KNNImputer(n_neighbors=4)),

#         ('imputer', KNN(k=3)),
#         # ('encoder', OneHotEncoder()),
#         # ('scaler', StandardScaler())
#     ]
# )

# ratio_transformer = Pipeline(
#     steps=[
#         # ('imputer', IterativeImputer(random_state=0)),
#         ('imputer', KNNImputer(n_neighbors=4)),
#         # ('encoder', OneHotEncoder()),
#         # ('scaler', RobustScaler())
#     ]
# )


# column_transformer_fdb = ColumnTransformer([
#     # ('replace unknown with none', FunctionTransformer(replace_unknown), fdb_new.columns),
#     ('reduce None numerical',numerical_transformer, fdb_new.select_dtypes(include='object').columns.tolist()),
#     ('reduce None ratio',ratio_transformer, fdb_new.select_dtypes(include=numerics).columns.tolist()),
#     ('Surface_Charge', FunctionTransformer(replace_charge), 'Surface_Charge')
# ]
# )
# column_transformer_sdb = ColumnTransformer([
#     # ('replace unknown with none', FunctionTransformer(replace_unknown), fdb_new.columns),
#     ('reduce None numerical',numerical_transformer, sdb_new.select_dtypes(include='object').columns.tolist()),
#     ('reduce None ratio',ratio_transformer, sdb_new.select_dtypes(include=numerics).columns.tolist()),
# ]
# )
# # column_transformer_fdb.set_output(transform='pandas')
# # column_transformer_sdb.set_output(transform='pandas')

# fdb_new_transformed = column_transformer_fdb.fit_transform(fdb)

# sdb_new_transformed = column_transformer_sdb.fit_transform(sdb)
# # print('  None   ', fdb.columns[fdb.isnull().any()])
# # print('  None   ', sdb.columns[sdb.isnull().any()])
# fdb_new_transformed.isnull().any()
# # FunctionTransformer

In [212]:
# fdb_new_transformed['reduce None numerical__Surface_Charge '] = fdb_new_transformed['Surface_Charge__pos_and_neg']
# fdb_new_transformed = fdb_new_transformed.drop('Surface_Charge__pos_and_neg', axis=1)
# fdb_new_transformed.head(3)

In [213]:
# sdb_new_transformed['reduce None numerical__Surface_Charge'].isnull().sum() ##   ,      null,

,      !

In [214]:
df = pd.concat([fdb_new, sdb_new], axis=0)
df.to_csv('ResultTable.csv')
df.isnull().any()

Unnamed: 0                False
Material                  False
Type                      False
Coat                      False
Diameter (nm)              True
Surface_Charge             True
Cell_Type                 False
Cell Line_Primary Cell    False
Human_Animal              False
Time (hr)                 False
Cell_Viability (%)        False
Concentration (ug/ml)      True
Cell_Age                  False
dtype: bool

In [215]:
df

,Unnamed: 0,Material,Type,Coat,Diameter (nm),Surface_Charge,Cell_Type,Cell Line_Primary Cell,Human_Animal,Time (hr),Cell_Viability (%),Concentration (ug/ml),Cell_Age
0,9,CuO,I,NotModified,52.51,Negative,A549,L,H,24,74.587160,0.000003,Adult
1,10,CuO,I,NotModified,52.51,Negative,A549,L,H,24,66.055046,0.000007,Adult
2,11,CuO,I,NotModified,52.51,Negative,A549,L,H,24,48.165140,0.000014,Adult
3,12,CuO,I,NotModified,52.51,Negative,A549,L,H,24,84.713870,0.000003,Adult
4,13,CuO,I,NotModified,52.51,Negative,A549,L,H,24,68.672810,0.000007,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,3811,Au,I,Citrate,4.70,Negative,RAW264.7,L,A,48,68.957000,100.000000,Adult
1060,3816,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,93.893000,5.000000,Adult
1061,3817,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,86.005000,10.000000,Adult
1062,3818,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,79.644000,100.000000,Adult
1063,3819,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,52.672000,1000.000000,Adult

In [216]:
# ,   ,   
#     
#  
#     
#  ,   ,  ,   numerical

,

In [217]:
# Create HTML representations of the dataframes
html1 = pd.DataFrame(sdb.nunique(), columns=['second Db unique values']).to_html()
html2 = pd.DataFrame(fdb.nunique(), columns=['first Db unique values']).to_html()

# Concatenate the HTML strings side by side
html = '<table><tr><td>{}</td><td>{}</td></tr></table>'.format(html1, html2)

# Display the concatenated HTML
display(HTML(html))

   ,  ,      1  99

In [218]:
sdb.describe(percentiles=[.99, .01])

,Unnamed: 0,No,Year,Diameter (nm),Time (hr),Concentration (ug/ml),Cell_Viability (%)
count,1064.000000,1064.000000,1064.000000,950.000000,1064.000000,952.000000,1064.000000
mean,1871.162594,1872.162594,2015.753759,35.086674,32.389098,54.536149,79.449738
std,977.392015,977.392015,2.643347,46.458998,21.692387,102.696064,30.759327
min,92.000000,93.000000,2010.000000,1.500000,3.000000,0.001000,-1.398600
1%,102.630000,103.630000,2010.000000,1.500000,3.000000,0.010000,1.212100
50%,1622.500000,1623.500000,2016.000000,18.000000,24.000000,10.000000,88.641500
99%,3797.850000,3798.850000,2020.000000,215.000000,96.000000,400.000000,128.284200
max,3819.000000,3820.000000,2020.000000,270.000000,96.000000,1000.000000,234.630000

In [219]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

text_columns = df.select_dtypes(include='object').columns.tolist()

numeric_columns = df.select_dtypes(include=numerics).columns.tolist()

In [220]:
df[text_columns]

,Material,Type,Coat,Surface_Charge,Cell_Type,Cell Line_Primary Cell,Human_Animal,Cell_Age
0,CuO,I,NotModified,Negative,A549,L,H,Adult
1,CuO,I,NotModified,Negative,A549,L,H,Adult
2,CuO,I,NotModified,Negative,A549,L,H,Adult
3,CuO,I,NotModified,Negative,A549,L,H,Adult
4,CuO,I,NotModified,Negative,A549,L,H,Adult
...,...,...,...,...,...,...,...,...
1059,Au,I,Citrate,Negative,RAW264.7,L,A,Adult
1060,Au,I,Citrate,Negative,RAW264.7,L,A,Adult
1061,Au,I,Citrate,Negative,RAW264.7,L,A,Adult
1062,Au,I,Citrate,Negative,RAW264.7,L,A,Adult
1063,Au,I,Citrate,Negative,RAW264.7,L,A,Adult

In [221]:
df

,Unnamed: 0,Material,Type,Coat,Diameter (nm),Surface_Charge,Cell_Type,Cell Line_Primary Cell,Human_Animal,Time (hr),Cell_Viability (%),Concentration (ug/ml),Cell_Age
0,9,CuO,I,NotModified,52.51,Negative,A549,L,H,24,74.587160,0.000003,Adult
1,10,CuO,I,NotModified,52.51,Negative,A549,L,H,24,66.055046,0.000007,Adult
2,11,CuO,I,NotModified,52.51,Negative,A549,L,H,24,48.165140,0.000014,Adult
3,12,CuO,I,NotModified,52.51,Negative,A549,L,H,24,84.713870,0.000003,Adult
4,13,CuO,I,NotModified,52.51,Negative,A549,L,H,24,68.672810,0.000007,Adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,3811,Au,I,Citrate,4.70,Negative,RAW264.7,L,A,48,68.957000,100.000000,Adult
1060,3816,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,93.893000,5.000000,Adult
1061,3817,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,86.005000,10.000000,Adult
1062,3818,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,79.644000,100.000000,Adult
1063,3819,Au,I,Citrate,270.00,Negative,RAW264.7,L,A,48,52.672000,1000.000000,Adult

In [222]:
# # Define your categorical feature columns
# categorical_features = ['Sex']

# # Step 1: Transform 'Sex' column to labels using LabelEncoder
# label_encoder = LabelEncoder()
# sex_transformer = Pipeline(steps=[
#     ('label_encoder', label_encoder)
# ])

# # Step 2: Impute missing values in labels using KNNImputer
# knn_imputer = KNNImputer(n_neighbors=5)
# imputer_transformer = Pipeline(steps=[
#     ('imputer', knn_imputer)
# ])

# # Step 3: Invert the transformation from labels to categories
# inverter_transformer = Pipeline(steps=[
#     ('label_decoder', label_encoder.inverse_transform)
# ])

# # Create the ColumnTransformer
# preprocessor = ColumnTransformer(transformers=[
#     ('sex_transformer', sex_transformer, categorical_features),
#     ('imputer_transformer', imputer_transformer, categorical_features),
#     ('inverter_transformer', inverter_transformer, categorical_features)
# ])

# # Create your final pipeline
# pipeline = Pipeline(steps=[
#     ('preprocessor', preprocessor)
# ])

# # Fit and transform your data using the pipeline
# transformed_data = pipeline.fit_transform(data)

In [223]:
# fdb = fdb.replace({'unknown': None, '-': None, 'None': None})
# sdb = sdb.replace({'unknown': None, '-': None, 'None': None})
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder, OrdinalEncoder
from sklearn.base import BaseEstimator, TransformerMixin

def replace_unknown(x):
    none_mapper = {'unknown': None, '-': None, 'None': None}
    return x.replace(none_mapper)

# Custom transformer to invert the label encoding
class OrdinalDecoder(BaseEstimator, TransformerMixin):
    def __init__(self):
      pass
    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        return ordinal_encoder.inverse_transform(X)

    def fit_transform(self, X, y=None):
        # print(self.label_encoder)
        # print(self.label_encoder.categories_)
        return ordinal_encoder.inverse_transform(X)

    def get_feature_names_out(self, *args, **params):
        return text_columns


ordinal_encoder = OrdinalEncoder()
ordinal_encoder.fit(df[text_columns])
# print('1   ', ordinal_encoder.categories_)
ordinal_decoder = OrdinalDecoder()
numerical_transformer = Pipeline(
    steps=[

          ('label_encoder', ordinal_encoder),
          ('imputer', KNNImputer(missing_values=3, n_neighbors=5)),
          ('label_decoder',  OrdinalDecoder())
        # ('encoder', OneHotEncoder()),
        # ('scaler', StandardScaler())
    ]
)

ratio_transformer = Pipeline(
    steps=[
        # ('imputer', IterativeImputer(random_state=0)),
        ('imputer', KNNImputer(n_neighbors=5)),
        # ('encoder', OneHotEncoder()),
        # ('scaler', RobustScaler())
    ]
)


column_transformer = ColumnTransformer([
    # ('replace unknown with none', FunctionTransformer(replace_unknown), df.columns),
    ('c',numerical_transformer, text_columns),
    ('r',ratio_transformer, numeric_columns),
]
)
column_transformer.set_output(transform='pandas')

t = column_transformer.fit_transform(df)
# print('  None   ', fdb.columns[fdb.isnull().any()])
# print('  None   ', sdb.columns[sdb.isnull().any()])
t.isnull().any()
# FunctionTransformer
# (t['reduce None numerical__Surface_Charge'] == 3).sum()

c__Material                  False
c__Type                      False
c__Coat                      False
c__Surface_Charge            False
c__Cell_Type                 False
c__Cell Line_Primary Cell    False
c__Human_Animal              False
c__Cell_Age                  False
r__Unnamed: 0                False
r__Diameter (nm)             False
r__Time (hr)                 False
r__Cell_Viability (%)        False
r__Concentration (ug/ml)     False
dtype: bool

In [224]:
column_transformer

ColumnTransformer(transformers=[('c',
                                 Pipeline(steps=[('label_encoder',
                                                  OrdinalEncoder()),
                                                 ('imputer',
                                                  KNNImputer(missing_values=3)),
                                                 ('label_decoder',
                                                  OrdinalDecoder())]),
                                 ['Material', 'Type', 'Coat', 'Surface_Charge',
                                  'Cell_Type', 'Cell Line_Primary Cell',
                                  'Human_Animal', 'Cell_Age']),
                                ('r',
                                 Pipeline(steps=[('imputer', KNNImputer())]),
                                 ['Unnamed: 0', 'Diameter (nm)', 'Time (hr)',
                                  'Cell_Viability (%)',
                                  'Concentration (ug/ml)'])])

In [226]:
# t['replace unknown with none__Coat'].isnull().sum()

 2 :

In [227]:
# 3801 3802   
# 8  1

![image.png]()

![image_2023-06-29_00-40-59.png]()

##

In [228]:
# 
#   ( ,    )
#    ,  
#

##    ()

###

In [229]:
#    - ,   PCA, DBscan
#    ,        
#  -    ,      ' ,  , '


# global ordinal_encoder
# j = df.groupby('Surface_Charge').min()['Material'].reset_index().to_numpy().tolist()
# j
# ordinal_encoder = OrdinalEncoder(encoded_missing_value=np.nan)
# ordinal_encoder.fit(df[['Surface_Charge', 'Material']])
# df.groupby('Surface_Charge').min()['Material']
# # print('1   ', ordinal_encoder.categories_)
# le_name_mapping = list(zip([['Negative', 'Au'], ['Neutral', 'IronOxide'], ['Positive', 'Au']], ordinal_encoder.transform([['Negative', 'Au'], ['Neutral', 'IronOxide'], ['Positive', 'Au']])))
# print(le_name_mapping)

[(['Negative', 'Au'], array([0., 0.])), (['Neutral', 'IronOxide'], array([1., 5.])), (['Positive', 'Au'], array([2., 0.]))]

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

##      ChatGPT 4.0


:
1.   Material type, nanoparticle -  :                 .

2.  Elements -     :             -.

3.  Electronegativity -   :               ,    .

4.  Ionic radius -   :                 ,      .

5. Core size -  :              ,      .

6. Hydro size, diameter -   :             ,      .

7. Surface charge, zeta potential - -   :          ,       ,     .

8. Surface area -   :             .

9. Cell type, cells:       ,           .         ,  ,       .

10. Exposure dose, concentration, dose:             .         ,            .

11. Number of atoms:         .             ,        .

12. Molecular weight:        .         ,                  .

13. Topological polar surface area:          .            ,        .

14. a, b, c, alpha, beta, gamma:         .           ,          .

15. Density:       .              ,        .

16. Viability:        .                  .

17. Type:   (  )      .             ,       .

18. Coat:        .              ,        .

19. Cell line / primary cells:            .                .

20. Human / animal:           .  ,         ,   .

21. Animal:             .             .

22. Cell morphology:          .               .

23. Cell age:           .  ,             .

24. Cell organ / tissue:   ,   ,       .                 .

25. Exposure time, time:          .                  .

26. Test:  ,     ,     .             .

27. Test indicator:               .          ,      .

28. Biochemical metrics:             .               .

29. Interference test:                  .   ,     ,        .

30. Colloidal stability:           .          ,          .

31. Positive control:             ,       .               .